*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;

}
body{
     background-color:black;
}

#parentDiv{
    background-color:white;
    border: 1px solid black;
    width:80%;    
    margin:0 auto;
}

.reset-button{
    position:fixed;
    top: 2%;
    left: 1%;
    padding:10px;
    border: 2px solid rgba(202, 32, 126, 0.342);
    border-radius: 10%;
    color:rgba(236, 231, 232, 0.993);
    background-color:rgba(185, 155, 183, 0.945);
    font-size: 1.2em;
}

.reset-button:hover{
    color:grey;
}



